/* base styles (mobile first) */

body {
    display: grid;
    grid-template-rows: auto auto 1fr auto auto;
    height: 100vh;
    gap: 1rem;
    padding: 1rem; 
}

header, footer {
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.button-and-output {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 5px;
}

#add-todo-btn {
    margin-bottom: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 20px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

#useroutput {
   min-height: 1.5rem;
}

main {
    padding: 1rem;
    overflow-y: auto;
    border: 1px solid #ccc; 
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

#ulList {
    min-height:2rem; 
}

.important-tasks {
    display: grid;
    grid-template-columns: 1fr;
    border: 1px solid #ccc; 
    border-radius: 5px;
     gap: 0.5rem;
}

#box-element {
    background-color: #f9f9f9;
    padding: 1rem;
    margin: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}
footer {
    text-align: center;
    font-size: 0.9rem;
    color: #666;
}
/* end of base styles */

/* adjustments for tablets */
@media (min-width: 768px) {
main {
    padding-left: 3rem;
    padding-right: 3rem;
}

.important-tasks {
    grid-template-columns: 1fr 1fr;
}
}

/* adjustments for desktops */
@media (min-width: 1024px) {
main {
    padding-left: 10rem;
    padding-right: 10rem;
}
.important-tasks {
    grid-template-columns: 1fr 1fr 1fr;
}
}